.excel__table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  width: 100%;
  padding-bottom: 2px;
  overflow-x: auto;
  
  .row {
    display: flex;
    min-height: 20px;
    height: $row-height;
  }

  .row-info,
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid $color-border;
    height: 100%;
    border-top: none;
  }

  .column,
  .cell {
    min-width: 40px;
    width: $cell-width;
  }

  .row-info {
    position: relative;
    min-width: $info-cell-width;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    border-left: none;
  }

  .cell {
    padding: 5px;
    height: 100%;
    overflow: hidden;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $color-primary;
      z-index: 2;
    }
  }

  .row-resize,
  .col-resize {
    position: absolute;
    z-index: 1000;
    background-color: $color-primary;
    opacity: 0;

    &.active,
    &:hover {
      opacity: 1;
    }
  }

  .col-resize {
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    margin-right: -2px;
    cursor: col-resize;

    &.active {
      height: 100vh;
    }
  }

  .row-resize {
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    margin-bottom: -2px;
    cursor: row-resize;

    &.active {
      width: 100vw;
    }
  }
}
